[submodule "cs351"]
	path = cs351
	url = https://github.com/dvtate/cs351
[submodule "cs484"]
	path = cs484
	url = https://github.com/dvtate/cs484
[submodule "cs487-parking"]
	path = cs487-parking
	url = https://github.com/dvtate/cs487-parking
[submodule "cs425/CS425-Airline-Flight-Booking-Application"]
	path = cs425/CS425-Airline-Flight-Booking-Application
	url = https://github.com/tdeng9886/CS425-Airline-Flight-Booking-Application
[submodule "CS595-PLT"]
	path = CS595-PLT
	url = https://github.com/dvtate/CS595-PLT
