div#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.left_column {
	width: 300px;
	padding: 15px;
}

.left_column > img {
	width: 100%;
	}

.center_column {
	width: 300px;
	padding: 15px;
}

.center_column > img {
	width: 100%;
	}

.right_column {
	width: 300px;
	padding: 15px;
}

.right_column > img {
	width: 100%;
	}